<% @works.each do |work| %>








<% end %>

<% if @works.empty? %> 
<div class="text-center alert">Der er desværre ikke nogle værker at vise</div>
<div class="row">
	<div class="large-offset-5 large-2"><button class="button">Opret værk?</button></div>
</div>
<% end %>