<h4 class="center-text">Rediger din profil</h4>
</div>
<%= form_for @user, html: { class: 'form-horizontal' } do %>
<div class="modal-body">
  <div class="form-group">
    <input type="hidden" value=""/>
    <label for="inputUsername" class="col-sm-2 control-label">Navn</label>
    <div class="col-sm-4">
      <input type="text" name="user[username]" class="form-control" id="inputUsername" placeholder="<%= @user.username %>" required>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail" class="col-sm-2 control-label">E-mail</label>
    <div class="col-sm-4">
      <input type="email" name="user[email]" class="form-control" id="inputEmail" placeholder="<%= @user.email %>" required></input>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword" class="col-sm-2 control-label">Kodeord</label>
    <div class="col-sm-4">
      <input type="password" name="user[password]" class="form-control" id="inputPassword" placeholder="Nyt kodeord" required></input>
    </div>
  </div>
</div>


  <button type="submit" class=" btn btn-primary">Rediger</button>

  <% end %>