<br>
<h5 class="text-center subheader">Din profil</h5>
<p class="text-center help-text">Oprettet for <%= time_ago_in_words @user.created_at %> siden.</p>
<hr>
<div class="row">
	<a href="<%= works_path %>"><div class="large-2 medium-2 small-10 text-center small-offset-end medium-offset-1 large-offset-1 columns">Dine værker</div></a>
	<a href="<%= new_work_path %>"><div class="large-2 medium-2 small-10 text-center columns">Nyt værk</div></a>
	<a href=""><div class="large-2 medium-2 small-10 text-center columns">Synes godt</div></a>
	<a href=""><div class="large-2 medium-2 small-10 text-center columns">Beskeder</div></a>
	<a href=""><div class="large-2 medium-2 small-10 text-center float-left columns">Rediger profil</div></a>
</div>

<%= render 'works/new' %>

