
  <div class="row">
    <div class="one">	
    	<ul class="">
    		<li class="two">
    			<a href="#">Om</a>
    		</li>
    		<li class="two">
    			<a href="#">App</a>
    		</li>
    		
    		<li class="two">
    			<a href="/"><h2 class="text-center logo-zweig-frontpage">ZWEIG</h2></a>
    		</li>
    		<li class="two">
    			<a href="#">Login</a>
    		</li>
    		<li class="two">
    			<a href="<%= new_user_path %>">Opret bruger</a>
    		</li>
    	</ul>

    </div>
  </div>

