<nav class="navbar-color navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    	
    		
    		
    	<ul class="nav nav-tabs nav-justified ">
    		<li class="presentation li-navbar-colors ">
    			<a href="#">Om</a>
    		</li>
    		<li class="presentation li-navbar-colors">
    			<a href="#">App</a>
    		</li>
    		
    		<li class="presentation">
    			<a href="/"><h2 class="text-center logo-zweig-frontpage">ZWEIG</h2></a>
    		</li>
    		<li class="presentation li-navbar-colors">
    			<a href="#">Login</a>
    		</li>
    		<li class="presentation li-navbar-colors">
    			<a href="<%= new_user_path %>">Opret bruger</a>
    		</li>
    	</ul>

    </div>
  </div>
</nav>
